.add-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
    $w_h: 18px;
    @import './clickable_image';
    @include clickable-image('checkbox', $w_h);
    .checkbox {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        .off-normal {display: block};
        .off-hovered, .on-normal {display: none};
        &:hover {
            .off-hovered {display: block};
            .off-normal, .on-normal {display: none};
        }
        &.on {
            .on-normal {display: block};
            .off-hovered, .off-normal {display: none};
        }
    }
}
