@mixin clickable-image($className: "clickable-image", $width: 10px, $height: $width) {
    .#{$className} {
        cursor: pointer;
        width: $width;
        height: $height;
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: $width;
            height: $height;
            background-size: $width $height;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}
