.project {
    padding: 12px 24px 0 24px;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    &:first-of-type {
        margin-top: 0 !important;
    }
    &:last-of-type {
        margin-bottom: 0 !important;
    }
    &.opened {
        margin: 16px 0 16px 0;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    }

    .project-head {
        position: relative;
        margin-bottom: 10px;
        .project-name {
            height: 32px;
            max-width: 600px;
            span {
                font-size: 23px;
                line-height: 1.39;
            }
            &.grey {
                span {
                    color: rgba(0, 0, 0, 0.57);
                }
            }
        }
        @import 'OpenButton';
        @import 'ProjectUI';
    }

    .project-vacancies-holder {
        @import 'Vacancy';
    }

}
