@import './smooth';
.vacancy {
    $max-height: 150px;
    max-height: $max-height;
    @include smooth($max-height);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 0;
    &:last-of-type { padding-bottom: 15px }
    .vacancy-name {
        margin: 10px 0 5px 0;
        font-size: 16px;
        span {
            max-width: 700px;
        }
        &.grey {
            span {
                color: rgba(0, 0, 0, 0.57);
            }
        }
    }
    .vacancy-ui {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 15px 0 10px 0;
        .block {
            font-size: 13px;
            display: flex;
            align-items: baseline;
            justify-content: center;
            .vacancy-status {
                display: flex;
                align-items: center;
            }
            .img-holder {
                $w_h: 16px;
                width: $w_h;
                height: $w_h;
                margin-right: 15px;
                img {
                    background-repeat: no-repeat;
                    background-position: center center;
                    &.img-done {
                        width: $w_h;
                        height: 12px;
                        background-size: $w_h 12px;
                        padding: 2px 0;
                    }
                    &.img-search {
                        width: $w_h;
                        height: $w_h;
                        background-size: $w_h $w_h;
                    }
                }
            }
            .app-button:last-of-type {
                margin-left: 15px;
            }
            .app-button:first-of-type {
                margin-right: 30px;
            }
        }
    }
}
