@import './components/styles/after_mixin.scss';

.app-body {
    $padding: 48px;
    width: 928px - 2*$padding;
    min-width: 950px;
    min-height: 500px;
    background-color: rgb(242, 242, 242);
    padding: $padding;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: auto;
    font-family: Roboto, HelveticaNeue-Light, sans-serif;
    .app-header {
        height: 64px;
        font-size: 70px;
        font-weight: bold;
        line-height: 0.78;
        letter-spacing: 2px;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);
    }
    .app-ui {
        letter-spacing: 0.5px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87);
        margin: 70px 0 10px 0;
        @import './components/styles/SearchForm';
        .ui-panel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .search-form {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            /*.app-button {
                vertical-align: middle;
                float: right;
            }
            @include after();*/
        }
        .projects-holder {
            margin-top: 20px;
        }
        @import './components/styles/Adder';
    }
}
